/* TODAY'S WEATHER */
div.temp {
  font-size: 9em;
  display: inline-block;
  padding: 3px;
  text-shadow: 2px 2px 4px #353535;
  color: snow;
}
div.row {
  width: 50%;
}
div.description {
  font-size: 1.3em;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
div.description, div.city-name {
  text-shadow: 1px 1px 4px #454545;
  color: snow;
}
img.weather-image {
  display: inline-block;
  width: 100px;
}
div.weather-image-container {
  text-align: center;
}
/* MOBILE MODE */
@media only screen and (max-width: 450px) {
  div.description {
    font-size: 1.3em;
    height: 120px;
  }
  div.temp {
    font-size: 4em;
  }
  div.row {
    width: 90%;
    margin-bottom: 0;
  }
}
