/* FORECAST */
div.city-name {
  font-size: 1.2em;
  padding: 10px;
}
ul.forecast {
  margin: 0 auto;
  max-width: 1100px;
}
li {
  margin: 0 0 0 2px;
}
.forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.forecast div {
  flex-grow: 1;
}
div.card {
  background-color: rgba(255,255,255, 0.4);
}
.max-temp {
  font-weight: bold;
}
/* MOBILE MODE */
@media only screen and (max-width: 450px) {
  div.card div.card-content {
    padding: 7px;
  }
}
