.App {
  text-align: center;
}
.App .App-header {
  font-size: 1.5em;
  padding: 1px;
  color: white;
  background-color: royalblue;
}
h4 {
  margin: 0;
  padding: 10px;
  background-color: aliceblue;
}
main {
  max-width: 1000px;
  margin: 0 auto;
}
/* FORM */
.city-form {
  display: inline-block;
  width: 100%;
}
.city-form label {
  color: lightgrey;
}
.city-form input#city {
  display: inline-block;
  width: 300px;
  margin: 15px;
}
.city-form input#city:focus {
  border-bottom: 1px solid gold;
  box-shadow: 0 1px 0 0 gold;
}
/* TODAY'S WEATHER */
.current-weather {
  padding-bottom: 20px;
}
/* FORECAST */
.forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.forecast div {
  flex-grow: 1;
}
