.App {
  height: 100vh;
  text-align: center;
  background-image: url('https://picsum.photos/2048/1536/?random&blur=true&gravity=south');
}
.App .App-header {
  font-size: 1.5em;
  color: white;
  background-color: rgba(65,105,255, 0.7);
}
h4 {
  margin: 0;
  padding: 10px;
}
main {
  max-width: 1000px;
  margin: 0 auto;
}
/* FORM */
.city-form {
  display: inline-block;
  width: 100%;
}
.city-form label {
  color: snow;
}
.city-form input#city {
  display: inline-block;
  width: 300px;
  margin: 10px 10px 10px 14px;
}
.city-form input#city:focus {
  border-bottom: 1px solid gold;
  box-shadow: 0 1px 0 0 gold;
}
/* TODAY'S WEATHER */
.current-weather {
  padding-bottom: 20px;
}
div.city-name {
  font-size: 1.2em;
  padding: 8px;
}
div.temp {
  font-size: 11em;
  display: inline-block;
  padding: 3px;
  text-shadow: 2px 2px 4px #454545;
  color: snow;
}
div.row {
  width: 50%;
}
div.description {
  font-size: 1.5em;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
div.description, div.city-name {
  text-shadow: 1px 1px 4px #454545;
  color: snow;
}
img.weather-image {
  display: inline-block;
  width: 100px;
}
div.weather-image-container {
  text-align: right;
}
/* FORECAST */
.forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.forecast div {
  flex-grow: 1;
}
/* MOBILE MODE */
@media only screen and (max-width: 450px) {
  .App {
    background-image: url('https://picsum.photos/640/960/?random&blur=true&gravity=south');
  }
  .city-form {
    padding: 0 0 10px 0;
  }
  .city-form input#city {
    margin: 0 0 10px 0;
    width: 90%;
  }
  .btn {
    width: 90%;
  }
  div.temp {
    font-size: 8em;
  }
  div.row {
    width: 90%;
  }
}
